# Virtual environments
multiomnic-env/
venv/
.venv/
env/

# Nextflow
.nextflow/
.nextflow.log*
work/
nextflow

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# Temporary exports
org_policies_export_*/

# Logs
*.log

# Internal planning docs
#documentations/
